.col-lg-9.col-lg-offset-2#reps
  .row#employyes
    - if @users.blank?
      %label.col-lg-offset-4{:style => 'font-size:18px;'}
        You havent employees that send you their reports
    - else
      %label.col-lg-offset-4{:style => 'font-size:18px'}
        Your Employees :
      %table.table.table-bordered#employees-list
        %thead
          %tr
            %th.status
              Status
            %th.name
              Name
            %th
              Email
            %th.day
              Day of report
            %th.mood_th
              Mood
        %tbody
          - @users.each do |user|
            %tr.user{:id => "#{user.id}"}
              %td
                - if user.status
                  = image_tag("On.png", :class => 'change-status', :name => 'ON')
                - else
                  = image_tag("Off.png", :class => 'change-status', :name => 'OFF')
              %td
                %label
                  = user.nickname
              %td
                %label
                  = user.email
              %td
                %select.form-control.day_of_report
                  - Date::DAYNAMES[0..7].each do |day|
                    - if day == Date::DAYNAMES[user.day_of_report]
                      %option{:selected=>"selected"}
                        = day
                    - else
                      %option
                        = day
              %td
                - if user.mood == "Super"
                  = image_tag("mood_cool.png", :class => 'mood')
                - elsif user.mood == "Good"
                  = image_tag("mood_good.png", :class => 'mood')
                - else
                  = image_tag("mood_bad.png", :class => 'mood')