<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="row">
  <label>Hello, <%= @report.user_manager.nickname%>.</label>
  <br>
  <label><%= @report.user_employee.nickname%> sent you own weekly report.</label>
  <h3><%= link_to("Weekly Report", root_path, :host => "hidden-island-8670.herokuapp.com")%></h3>
  <label><%= @report.created_at.to_s(:my_datetime)%></label>
  <br>
  <%- @report.answers.each do |qest_answ|%>
    <%= qest_answ.question.text%>
    <ul>
      <%- qest_answ.answers.each do |answer|%>
        <li><%= answer%></li>
      <%end%>
    </ul>
  <%end%>
</div>
</body>
</html>